/*body{
  margin: 0 auto;
}*/


#header{
  width: 946px;
  margin: 0 auto;

}


.sidebar a{
  font-size: 90%;
}

#container{
  width: 946px;
  margin: 0 auto;
  padding: 0;
}

#container.full.landing h1.landing{
/*   width: 648px; */
  width: 100%;
}

#container h1.section{
  width: 649px;
  padding-right: 0;
  padding-top: 0;
}

h1.section{

}

.thumbnail-stuff {
  display: block;
/*   border-bottom: 3px #a17c3d solid; */
  padding-bottom: 2em;
  background: none;
}


.separator{
    width: 653px;
    height: 1px !important;
    background-color: #a17c3d;
    margin: 1em 0;
  }

#footer{
  width: 946px;
  margin: 0 auto 0 auto;

}
/*
  #container.full{
    background-image: none;
    background-color: #998e50;
    width: 946px;
  }

#container.full img{
  width: 800px;
  height: 500px;
}

#container.full p.image-title{
  width: 700px;
  color: #f3c685;
  font-weight: bold;
}

img.rotating-image{
  width: 490px;
  height: 300px;
  margin: 1.5em 0 0 3em;
}

 #container.full h1{
    width: 927px;
  }*/
  
img.funding-logo{
  border-width: 4px !important;
  display: block;
  margin: 0 0 0  145px !important;
  width: 244px;
  height: 40px;
}